/*  */


* {
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
}

/* Header Started */

header {
    background-color: #93DBF3;
    border: 5px solid;
    padding: 20px;
    margin: 5px;
    padding-top: 30px;
    display: flex;
    justify-content: space-between;


}


header p {
    color: red;
    font-size: xx-large;
    font-weight: bold;
}

/* Header Ended */



/* Body Started*/
.container {
    width: 100%;
    height: calc(100vh - 110px);
    display: flex;
    justify-content: center;
}

.left-s {
    margin: 5px;
    border: black solid 5px;
    /* width: 98%; */
    width: 60%;
}

.right-s {
    margin: 5px;
    border: black solid 5px;
    overflow-y: scroll;
    /* width: 2%; */
    width: 40%;
    display: flex;
}

table {
    display: block;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
}


table tr {
    width: 100%;
    display: flex;
}

td {
    padding: 10px;
}

table tr td:nth-child(1) {
    width: 10%;
}

table tr td:nth-child(2) {
    width: 10%;
}

table tr td:nth-child(3) {
    width: 15%;
}

table tr td:nth-child(4) {
    width: 40%;
}

table tr td:nth-child(5) {
    width: 25%;
}


table tr:nth-child(1) {
    background-color: aqua !important;
    font-weight: bold;
}


table tr:nth-child(2n+1) {
    background-color: darksalmon;
}



input {
    padding-right: 10px;
    padding-left: 10px;
    margin-right: 10px;
}


#expand {
    height: 100%;
    width: 30px;
    padding-left: 5px;
    background-color: aqua;
    font-size: 30px;
    display: flex;
    align-items: center;
}


.right-bar-header {
    padding: 20px;
    display: flex;
    gap: 20px;
    align-items: center;
}

.right-bar-header button {
    width: 100px;
}


/* Body Ended*/